@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 0.2; }
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-out forwards;
}

.animate-drop-in {
  animation: drop-in 1s ease-out forwards;
}